[submodule "deps/ish"]
	path = deps/ish
	url = https://github.com/OpenMinis/ish-arm64.git
	branch = master
[submodule "deps/proot"]
	path = deps/proot
	url = https://github.com/OpenMinis/proot.git
	branch = master
[submodule "deps/pi_agent_rust"]
	path = deps/pi_agent_rust
	url = https://github.com/Dicklesworthstone/pi_agent_rust
	shallow = true
